---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Parallax #title in menu
position: 11 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

{{> breadcrumbs}}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> subNavigation}}
        </div>
        <div class="col-md-9">
            <div class="parallax" data-stellar-background-ratio="0.5" style="background-image: url('images/parallax_image.jpg'); height:400px;">
                <div class="saturated-inverse">
                <div id="c177" class="container ">
                    <div class="row">
                        <div class="col1  col-md-8 one-column-align-center">
                            <div class="blue-mountaih-header margin-top-70">
                            <div id="c178" class=" text-center">
                                <header>
                                    <h2>Lorem ipsum dolor sit amet markum set</h2>
                                    <h3>Full width section with text, link and parallax background image</h3>
                                </header>
                            </div>
                            </div>
                            <div id="c179" class=" ">
                                <hr class="ce-div">
                            </div>
                            <div id="c180" class=" text-center">
                                <div class="ce-textpic ce-right ce-intext">
                                    <div class="ce-bodytext">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    </div>
                                </div>
                            </div>
                            <div class=" margin-top-10 ">
                                <div id="c181" class="text-center">
                                    <a href="/" class="btn btn-default">LOREM IPSUM DOLOR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
